# Python
__pycache__/
**/__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Dataset
dataset/
panel-solar-1/

# Dataset Archives
*.zip

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store

# YOLO Prediction Outputs
runs/

# Uploads
backend/uploads/

# Temporary Scripts
test_predict.py
scraper.py
download_dataset.py

# Build
dist/
build/
